#wrap{width:960px;margin:0px auto;}
.location{cursor: pointer;font-size: 18px;}
.list-img-holder{float:left;width: 40%;}
.list-hotel-info{float:left;width: 60%;}
.clear{clear:both;}
.thumb{width:300px;height:200px;}
.list-box{border:2px solid #2fa9dd;margin-bottom:10px;padding:10px;}

    .green-btn{
        display: inline-block;
        vertical-align: top;
        width: 140px;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        background: #1abc9c;
        border-radius: 3px;
        font-weight: 500;
        border-bottom: 2px solid #16a085;
        margin: 0 5px;
    }
    .green-btn:hover{
        color:#FFF;
        opacity: 0.8;
    }
    .datepicker.dropdown-menu{
        background-color: #fd9883;
        color:#FFF;
    }
    .datepicker table tr td.old, .datepicker table tr td.new,.datepicker table tr td.disabled{color:#e9573f;}
    .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover{background-color: #FFF;color:#e9573f;}
    .datepicker table tr td.day:hover, .datepicker table tr td.day.focused{background-color: #FFF;color:#e9573f;padding: 5px;}
    .form-control{border-radius: 0px;border: 1px solid #aab2bd;}

.left{float:left;}
.hotel-thumbnail,.hotel-price{width: 25%;}
.hotel-name{width: 50%}
.hotel-list{padding: 10px;background: #FFF;border:1px solid #EBEBEB;}
.hotel-row{margin-bottom: 10px;border-bottom: 1px solid #EBEBEB;padding-bottom: 10px;}
.hotel-row:last-child{padding-bottom:0px;border-bottom: none;}
.detail{margin-top:60px;}
.six-sec-ease-in-out {
    -webkit-transition: width 30s ease-in-out;
    -moz-transition: width 30s ease-in-out;
    -ms-transition: width 30s ease-in-out;
    -o-transition: width 30s ease-in-out;
    transition: width 30s ease-in-out;
}
.progress {
  overflow: hidden;
  height: 2px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

